version: '3.7'
services:
  app_proxy:
    environment:
      APP_HOST: nico-clawdbot_server_1
      APP_PORT: 18789
    container_name: nico-clawdbot_app_proxy_1
  server:
    image: ghcr.io/xyse/clawdbot:latest
    user: '1000:1000'
    restart: on-failure
    stop_grace_period: 1m
    environment:
      HOME: /home/node
      TERM: xterm-256color
      CLAWDBOT_CONFIG_DIR: /home/node/.clawdbot
      CLAWDBOT_WORKSPACE_DIR: /home/node/clawd
      CLAWDBOT_GATEWAY_TOKEN: ${CLAWDBOT_GATEWAY_TOKEN:-clawdbot}
    volumes:
      - ${APP_DATA_DIR}/data/clawdbot:/home/node/.clawdbot
      - ${APP_DATA_DIR}/data/workspace:/home/node/clawd
    init: true
    command:
      - node
      - dist/index.js
      - gateway
      - '--allow-unconfigured'
      - '--bind'
      - lan
      - '--port'
      - '18789'
    container_name: nico-clawdbot_server_1
